@font-face {
  font-family: "Vandenbroucke";
  src: url("../fonts/Vandenbroucke.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

::selection{
	background-color: #0b372dbb;
}

.logo {
  width: 100px;
}

header {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.6rem 0;
}

header nav {
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1.5rem;
}

nav ul li a {
  color: rgb(175, 175, 175);
  text-decoration: none;
  font-weight: 400;
  font-size: 0.83rem;
  text-transform: uppercase;
  transition: color 0.5s ease;
}

nav ul li a:hover {
  color: white;
}

.hamburger a {
  padding: 0;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  background-color: rgba(115, 115, 115, 0.7);
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(17, 25, 40, 0.46);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.hamburger .bar {
  position: relative;
  width: 52%;
  height: 1.3px;
  background-color: #fff;
  border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 60%;
  height: 100%;
  background-color: inherit;
  border-radius: 2px;
  transform: translateX(-50%);
}

.hamburger .bar::before {
  top: -5px;
}

.hamburger .bar::after {
  top: 5px;
}

main {
  position: relative;
  background-color: #132525;
  height: 100vh;
  width: 100vw;
	max-height: 100vh;
  overflow: hidden;
}

.parallax{
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: .45s cubic-bezier(.2, .49, .32, .99);
}

.bg-img {
  position: absolute;
  width: 140%;
  top: calc(50% - 440px);
  left: calc(50%);
  z-index: 1;
	pointer-events: none;

}

.mountains {
  position: absolute;
  width: 113%;
  top: calc(50% + 30px);
  left: calc(50%);
  z-index: 2;
}

.fog-1 {
  position: absolute;
  width: 100%;
	height: 200%;
  top: calc(50%) !important;
  left: calc(50%);
  z-index: 3;
}

.moon {
  position: absolute;
  width: 250px;
  top: calc(50% - 320px);
  left: calc(50%);
  mix-blend-mode: screen;
  z-index: 4;
	pointer-events: none;

}


.text {
  position: absolute;
  z-index: 5;
  top: calc(29%);
  left: calc(75%);
  text-align: center;
  font-family: "Vandenbroucke", sans-serif;
  font-size: 8em;
  color: #900d09;
  line-height: 7.5rem;
	pointer-events: auto;
}

.text h2 {
  font-size: 6rem;
  opacity: 0.7;
}

.tower-1 {
  position: absolute;
  width: 400px;
  top: calc(50% - 0px);
  left: calc(50% + 70px);
  z-index: 6;
}

.house-1 {
  position: absolute;
  width: 700px;
  top: calc(50% + 120px);
  left: calc(50% - 715px);
  z-index: 7;
}

.house-2 {
  position: absolute;
  width: 1450px;
  top: calc(50% + 20px);
  left: calc(50% + 355px);
  z-index: 8;
}

.tower-2 {
  position: absolute;
  width: 1100px;
  top: calc(50% - 110px);
  left: calc(50% - 200px);
  z-index: 9;
}

.house-3 {
  position: absolute;
  width: 2050px;
  top: calc(50% - 10px);
  left: calc(50% + 20px);
  z-index: 10;
}

.trees {
  position: absolute;
  width: 110%;
  /* top: calc(50%); */
  left: calc(50% - 60px);
  z-index: 11;
}

.stones {
  position: absolute;
  width: 700px;
  top: calc(90% - 40px);
  left: calc(13%);
  z-index: 12;
}

.fog-2 {
  position: absolute;
  width: 100%;
	height: 100%;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  z-index: 13;
	pointer-events: none;
}

.samurai {
  position: absolute;
  width: 400px;
  top: calc(75% - 0px);
  left: calc(83% + 60px);
  z-index: 14;
}

.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 1)
  );
	pointer-events: none;
}

@media (min-width: 1500px){
  .trees{
    top: 50%
  }
}

@media (max-width: 1500px) {
	.text{
		font-size: 6em;
	}
	.text h2{
		font-size: 6rem;
	}
  .trees{
    top: 40%
  }
}

@media (max-width: 1200px) {
	.text{
		font-size: 5em;
		left: 80%;
		line-height: 4.5rem;
	}
	.text h2{
		font-size: 3rem;
	}

	.trees{
    transform: translate(-50%, 0%);
		top: 0%;
	}
}

@media (max-width: 860px) {
	.text{
		font-size: 6em;
		line-height: 6rem;
		top: 35%;
		left: 50%;
	}
	.text h2{
		font-size: 5rem;
	}

	.bg-img{
		width: 1800px;
    top: 15%;
    left: 50%;
	}

	.house-3{
		width: 200%;
		top: 60%;
	}

	.house-2{
		width: 100%;
		top: 70%;
		left: 60%;
	}

	.stones{
		width: 110%;
		left: 10%;
	}

	.tower-1{
		width: 35%;
		top: 70%;
		left: 75%;
	}

	.tower-2{
		width: 150%;
		top: 70%;
		left: 20%;
	}

	.mountains{
		width: 140%;
    top: 60%;
    left: 55%;
	}
	.trees{
		/* height: 100%; */
		left: 50%;
    transform: translate(-50%, 0%);
	}

  .samurai{
    width: 200px;
    top: calc(88% - 0px);
    left: calc(80% );  }
}

@media (max-width: 768px){
  nav ul li{
    display: none;
  }
  .hamburger{
    display: flex;
  }

  .house-3{
    width: 250%;
    top: 60%
  }

  .tower-2{
    width: 160%;
    top: 68%;
    left: 27%
  }
}

@media (max-width: 500px){
  .text{
    font-size: 4rem;
    line-height: 4rem;
  }
  .text h2{
    font-size: 2.5rem;
  }
  .stones{
    top: 90%;
  }

  .house-3{
    width: 250%;
    top: 68%
  }

  .tower-2{
    width: 180%;
    top: 65%;
    left: 35%
  }

}

@media (max-width: 420px){
  .house-3{
    top: 75%
  }
}

@media (max-width: 1200px) and (min-height: 1300px){
  .house-3{
    top: 60%
  }
}